<div class="jumbotron">
    <fieldset >
        <form id="firstStage">
            <legend>Регистрация этап {{chapter}} из 5</legend>
            <div [hidden]="firstStageVisible">
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="lastName" class=" control-label">Фамилия</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Иванов">
                    </div>
                    <div class="form-group">
                        <label for="citizenship" class=" control-label">Гражданство</label>
                        <select class="form-control" id="citizenship">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="birthDate" class=" control-label">Дата рождения</label>
                        <input type="date" class="form-control" id="birthDate" placeholder="01.01.1999">
                    </div>

                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="firstName" class=" control-label">Имя</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Иван">
                    </div>
                    <div class="form-group">
                        <label for="sex" class=" control-label">Пол</label>
                        <select class="form-control" id="sex">
                            <option></option>
                            <option>Мужской</option>
                            <option>Женский</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mobilePhone" class=" control-label">Мобильный телефон</label>
                        <input type="text" class="form-control" id="mobilePhone">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="middleName" class=" control-label">Отчество</label>
                        <input type="password" class="form-control" id="middleName" placeholder="Иванович">
                    </div>
                    <div class="form-group">
                        <label for="nation" class=" control-label">Национальность</label>
                        <select class="form-control" id="nation">
                            <option></option>
                            <option>Русский(ая)</option>
                        </select>
                    </div>
                </div>
                <legend>Направление подготовки</legend>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="nation" class=" control-label">Направление подготовки(специальность)</label>
                        <select class="form-control" id="specialty">
                            <option></option>
                            <option>Пожарная безопасность</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="nation" class=" control-label">Форма обучения</label>
                        <select class="form-control" id="formOfEducation">
                            <option></option>
                            <option>Очная</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="nation" class=" control-label">Квалификация</label>
                        <select class="form-control" id="qualification">
                            <option></option>
                            <option>Специалист</option>
                        </select>
                    </div>
                </div>
                <legend>Личный кабинет</legend>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="mobilePhone" class=" control-label">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>
            <div [hidden]="secondStageVisible">
                <legend>Паспортные данные</legend>
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="form-group">
                            <label for="sex" class=" control-label">Тип документа удостоверяющего личность</label>
                            <select class="form-control" id="typeStudentDocument">
                                <option></option>
                                <option>Паспорт РФ</option>
                                <option>Паспорт других государств</option>
                                <option>Другое</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label for="passportSeries" class=" control-label">Серия</label>
                            <input type="text" class="form-control" id="passportSeries" placeholder="4512">
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label for="passportNumber" class=" control-label">Номер</label>
                            <input type="text" class="form-control" id="passportNumber" placeholder="123456">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label for="firstName" class=" control-label">Дата выдачи</label>
                            <input type="date" class="form-control" id="passportDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label for="firstName" class=" control-label">Кем выдан</label>
                            <input type="text" class="form-control" id="passportIssueOrg"
                                   placeholder="ОУФМС России по г.Москве">
                        </div>
                    </div>
                </div>
                <legend>Адрес регистрации</legend>
                <div class="row">
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label for="countryRegistration" class=" control-label">Страна</label>
                            <input class="form-control" id="countryRegistration" placeholder="Россия">
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label for="cityRegistration" class=" control-label">Город</label>
                            <input type="text" class="form-control" id="cityRegistration" placeholder="Москва">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label for="regionRegistration" class=" control-label">Регион</label>
                            <input type="text" class="form-control" id="regionRegistration" placeholder="Московская область">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label for="districtRegistration" class=" control-label">Район</label>
                            <input class="form-control" id="districtRegistration" placeholder="Дмитровский район">
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label for="locality" class=" control-label">Населенный пункт</label>
                            <input type="text" class="form-control" id="locality" placeholder="пос. Луговой">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-6 col-sm-12">
                    <div [hidden]="firstStageVisible">
                        <button id="smallFinish"  class="btn btn-primary">Отправить
                            предварительную заявку
                        </button>
                    </div>
                    <div [hidden]="secondStageVisible">
                        <button id="prevStage"  (click)="secondStagePrev()"
                                class="btn btn-primary">Предыдущий этап
                        </button>
                    </div>
                    <div>
                        <button id="nextStage" (click)="firstStageNext()" class="btn btn-primary">Следующий этап
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
